* {
    padding: 0;
    margin: 0;
    font-family: cursive;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
   height: 100%;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   align-content: stretch;  
}

a {
    color: inherit;
    text-decoration: none;
}

article {
   flex: 10 1 auto;
   padding: 0px;
   margin: 0px;
}

button {
    background-size: cover;
    width: 100px;
    height: 100px;
    font-size: 1rem;
    border-radius: 50%;
}

button #b {
    background-image: url('https://media.istockphoto.com/photos/red-ground-soil-texture-in-brazil-picture-id1253538508?k=20&m=1253538508&s=612x612&w=0&h=ctBuGSl4dnZ7c_tN0RJDFdWWC7oCJm_hLS0hTYFU358=');
}

form, #location, #weather, #cal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.left {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://2.bp.blogspot.com/-D0n4gcOewSY/XD930THnxSI/AAAAAAAAAuM/EI5cayHRjU0RqbVKcw8ff40HpKCIttzQwCKgBGAs/w0/abstract-13-4k.jpg');
}

.left::-webkit-scrollbar {
    display: none;
}

#hero {
    display: flex;
    color: #A7F272;
}

#hero i {
    margin: 8px;
    font-size: 2rem;
    color: #A7F272;
}
  
.right {
    right: 0;
}

select {
	 appearance: none;
	 border: 0;
	 outline: 0;
	 font: inherit;
	 width: 20em;
	 height: 3em;
	 padding: 0 4em 0 1em;
	 background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
	 border-radius: 0.25em;
	 box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
	 cursor: pointer;
}

select option {
    outline: none;
    color: black;
    background-color: rgb(211 225 235);
}

select:focus {
	 outline: none;
}
 
.soils {
    cursor: pointer;
    width: 200px;
    height: 155px;
    font-size: 1.5rem;
    border: none;
}

.red {
    background: url(https://media.istockphoto.com/photos/ground-texture-top-view-of-a-red-soil-surface-picture-id899773846?k=20&m=899773846&s=170667a&w=0&h=3VSTqY_eCTGQvduMrQcbsGExb_I4obSwvxUHhk-C_jw=) no-repeat;
}

.black {
    background: url(https://thumbs.dreamstime.com/b/soil-plant-background-23581214.jpg) no-repeat;
}

.alluvial {
    background: url(https://us.123rf.com/450wm/afhunta/afhunta1712/afhunta171200017/91714675-background-of-red-clay-the-real-desert-soil.jpg?ver=6) no-repeat;
}

.laterite {
    background: url(https://t3.ftcdn.net/jpg/03/83/90/50/360_F_383905018_H9Gg59vsiTQMewPjh6Oik12FP52g6yRE.jpg) no-repeat;
}

.saline {
    background: url(https://img.freepik.com/premium-photo/cracked-ground-soil-salinity-ecological-disaster_151355-472.jpg?w=360) no-repeat;
}

#weather {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

#weather img {
    margin: 1rem;
    width: 5rem;
}